{% extends 'base.html.twig' %}

{% block title %}URL Shortened{% endblock %}

{% block body %}
<div class="text-center">
    <h2>Your shortened URL:</h2>
    <p><a href="{{ path('redirect_short_code', {'shortCode': url.shortCode}) }}" class="btn btn-success">{{ app.request.schemeAndHttpHost }}/r/{{ url.shortCode }}</a></p>
    <a href="{{ path('app_shorten') }}" class="btn btn-link">Shorten another URL</a>
</div>
{% endblock %}
