<div class="url-item" style="background-color: #f8f9fa; margin: 5px; flex: 0 1 calc(33.333% - 10px); padding: 10px; border-radius: 5px; display: flex; flex-direction: column; justify-content: space-around;">
    <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">URL: {{ url.originalUrl|slice(0, 30) }}...</span>
    <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Shortened: {{ url.shortCode }}</span>
</div>
